*{
    padding: 0;
    margin: 0;
    background-color: black;
}
header{
    background-color: black;
    display: flex;
    height: 18vh;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
}
img{
    width: 170px;
    padding: 10px 60px;
}
ul{
    margin-left: 320px;
    color: white;
    list-style: none;
    display: flex;
    gap: 24px;
    margin-top: 12px;
}
button{
 border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 15px;
    margin: 4px;
}
#red{
     border: 1px solid red;
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
}
#gap{
    margin-left: 30px;
}
#arrow{
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    color: red;
    padding: 4px;
    margin-left: 6px;
}
#salt{
    width: 100%;
    margin: -10px -10px 0px -60px;
}
main{
    display: flex;
}
.div{
    background-color: white;
}