* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: apercu;
    color: white;
}

@font-face {
    font-family: "futurak";
    src: url(./fonts/futurak\ \(1\).ttf);
}

@font-face {
    font-family: "apercu";
    src: url(./fonts/apercu-regular.ttf);
}

@font-face {
    font-family: "butler";
    src: url(./fonts/Butler_Regular.otf);
}

.futurak {
    font-family: futurak;
}

.butler {
    font-family: butler;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav>div>img {
    width: 160px;
    padding: 10px 70px;
}

nav>main {
    display: flex;
}

nav>main>div>ul {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 25px 30px 0 320px;
}

#nav-button {
    display: flex;
    gap: 15px;
}

.button {
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 15px;
    background-color: transparent;
}

#red-button {
    border: 1px solid red;
    background-color: red;
    display: flex;
    gap: 8px;
    align-items: center;
}

.fa {
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    color: red;
    padding: 4px;
}


#section-1>div>img {
    width: 100%;
}

#section-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0 120px;
}

#heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    text-align: center;
}

#paragraph-1 {
    font-size: 40px;
}

#section-2>div>p>span {
    font-size: 52px;
}

.paragraph {
    color: rgb(167, 167, 167);
}


#section-2>main {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#section-2>main>div>img {
    background-color: white;
    border-radius: 4px;
    padding: 25px 20px;
    width: 200px;
}

#img-arrange {
    height: 83px;
}

#buttons-arrange {
    display: flex;
    justify-content: center;
    gap: 85px;
}

#buttons-arrange>button {
    padding: 16px 50px;
    border: 1px solid rgb(110, 109, 109);
    border-radius: 50px;
    background-color: black;
}

#section-3 {
    background-image: url('https://images-beta.tossdown.com/site/bb1bd702-431a-4f3a-a0ca-c5966a1f7985.webp');
    background-repeat: no-repeat;
    background-position-x: 900px;
    background-position-y: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0 80px;
    background-color: rgba(255, 255, 255, 0.06);
}

#section-3>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.style {
    font-size: 50px;
    font-style: normal;
    font-weight: 100;
}

#section-3>main {
    display: flex;
    justify-content: space-around;
}

#section-3>main>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#section-3>main>div>span {
    color: red;
    letter-spacing: 0.48em;
}

#section-3>main>div>h2 {
    font-size: 35px;
    font-weight: 5;
}

#section-3>main>div>p {
    padding: 5px 0 35px;
}

#section-3>main>div>button {
    background-color: transparent;
    border: 1px solid rgb(96, 96, 96);
    width: 150px;
    padding: 12px;
}

.icon {
    background-color: transparent;
    border: none;
    color: rgb(167, 167, 167);
}

#main-1 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

#main-div-1 {
    width: 40%;
    margin-left: -200px;

}

#main-div-2{
    width: 43%;
    margin-left: -40px;
}

#section-4 {
    background-image: url('https://images-beta.tossdown.com/site/5c3e9532-2fd4-4458-9d20-fa3b8b7f0c28.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 40px;
    background-position-y: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px 0 30px;
}

#section-4>div {
    padding-bottom: 50px;
}

#section-4>main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section-4>main>div {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 40px;
}

#section-4>main>div>h3 {
    font-weight: 4;
    font-size: 25px;
}

#section-4>main>div>img {
    width: 350px;
    height: 250px;
}

#section-4>main>div>small {
    color: red;
    letter-spacing: 0.48em;
}

#section-4>main>div>button {
    border: 1px solid rgb(96, 96, 96);
}

#section-4>main>div>button>a>i {
    transform: rotate(320deg);
    padding: 6px;
}

#section-5 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 50px 0;
}

#section-5>div {
    padding-bottom: 30px;
    text-align: center;
}

#section-5>main {
    display: flex;
    align-items: center;
    width: 100%;
}

#section-5-div-1{
    width: 60%;
    margin-right: -100px;
}

#section-5>main>div>img {
    width: 85%;
}

#section-5-div-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#section-5>main>div>span {
    color: red;
    letter-spacing: 0.48em;
}

#section-5>main>div>h2 {
    font-weight: 5;
    font-size: 30px;
}

#section-5>main>div>button {
    background-color: green;
    border: 1px solid green;
    width: 150px;
}

#section-5>main>div>button>a>i {
    color: green;
}

#section-6 {
    padding: 60px 0;
}

#section-6>div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#section-6>div>h2>span {
    font-family: apercu;
    font-size: 30px;
}

#section-6>main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 25px;
    padding: 40px 0;
}

#section-6>main>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    width: 350px;
    text-align: center;
    padding: 25px 0;
    border-radius: 5px;
}

#section-6>main>div>img {
    width: 60px;
}

#section-6>main>div>small {
    color: red;
    letter-spacing: 4px;
    font-size: x-small;
}

#section-6>main>div>span {
    font-size: 25px;
}

#section-7 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 60px 100px 50px 60px;
    background-image: url('https://images-beta.tossdown.com/site/a4195117-d4ae-45d4-9088-21162bacdfb1.webp');
    background-repeat: no-repeat;
    background-position-y: 200px;
}

#side-1 {
    width: 360px;
    padding: 5px 0 0;
    text-align: left;
}

#side-1>img {
    width: 150px;
    padding: 10px 0;
}

#side-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#side-2>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#side-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 220px;
}

#side-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#side-4>p {
    display: flex;
    gap: 10px;
}

#side-4>p>i {
    background-color: red;
    border-radius: 50px;
    padding: 10px;
}

#side-4>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#side-4>ul>li {
    list-style: none;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
}