* {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

nav {
    display: flex;
    height: 18vh;
    align-items: center;
    font-size: 16px;
}

img {
    width: 170px;
    padding: 10px 60px;
}

ul {
    margin-left: 320px;
    color: white;
    list-style: none;
    display: flex;
    gap: 35px;
    margin-top: 12px;
}

#gap {
    margin-left: 30px;
}

button {
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px;
    margin: 4px;
}

.red {
    border: 1px solid red;
    background-color: red;
}

#arrow {
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    color: red;
    padding: 4px;
    margin-left: 6px;
}

a {
    text-decoration: none;
    color: white;
}

#salt {
    display: flex;
    width: 100%;
    padding: 0px;
}

#para {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 75px 0px 45px 0px;
    font-family: sans-serif;
    gap: 10px;
}

#p1 {
    font-size: 40px;
    font-family: sans-serif;
}

#p2 {
    color: rgb(167, 167, 167);
}

main {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.img1 {
    background-color: white;
    border-radius: 4px;
    padding: 30px 20px;
    width: 200px;
}

#img4 {
    height: 82px;
}

#buttonsarrange {
    display: flex;
    justify-content: center;
    gap: 85px;
    margin: 10px 0px 145px 0px;
}

.b1 {
    padding: 16px 50px;
    border: 1px solid rgb(83, 83, 83);
}
